<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<ul>

<% @post.each do |p| %>
  <li>
      <h2>
        <a href="/posts/<%= p.id %>"> <%= p.title %></a>
       </h2>
    <h2> author: <%= p.author.username %></h2> Post: <h3><%= p.body %></h3><hr></li>
  <% end %>
</ul>
</body>
</html>